<%include ./partials/header.ejs%>
<div class="ui main text container segment">
  <div class="ui huge header"><%=blog[0].title%></div>
  <div class="ui top attached">
    <div class="item">
      <img class="ui image rounded centered"src="<%=blog[0].image%>" alt="picture">      
      <div class="content">
        <span><%=blog[0].created.toDateString()%></span>
      </div>
      <div class="description">
        <p><%-blog[0].body%></p>
      </div>
      <a class="ui green inverted button" href="/blogs/<%=blog[0]._id%>/edit">EDIT</a>
      <form id="delete" action="/blogs/:<%=blog[0]._id%>?_method=DELETE" method="POST">
        <button class="ui red inverted button">Delete</button>
      </form>
    </div>       
  </div>  
</div>
<%include ./partials/footer.ejs%>



